/* vatiables */
:root {
    --color-bg: #fff;
    --color-main: #cdaf64;
    --color-complementary: #212121;
    --color-secondary: #606261;
    --color-dark: #333;
}

.pages-header {
    background: linear-gradient(0deg, rgb(0 0 0 / 89%), rgb(0 0 0 / 10%)), url(../assets/about-bg.jpg);
    background-size: 100% 100%;
    background-position: center center;
}
.slogan.prefixed {
    position: relative;
    line-height: 0;
    word-wrap: break-word;
}
.slogan.prefixed span {
    /* transform: translate(10rem, -3rem); */
    font-size: 10rem;
    line-height: 0;
    margin-block: auto;
}
@media screen and (max-width: 925px) {
    .pages-header {
        text-align: center;
    }
    .pages-header h1, .slogan.prefixed span {
        font-size: 5rem;
    }
    .slogan.prefixed span {
       line-height: 1;
    }
}


/* video panner */
.video-header {
    height: 50vh;
    color: #fff;
}

/* values sections */
.values {
    font-size: 2rem;
}

.values h2, .about-details h2 {
    font-size: 5rem;
    position: relative;
}

.values h2::after {
    content: '';
    position: absolute;
    left: 15rem;
    top: 65%;
    height: 1px;
    width: 30vw;
    background-color: var(--color-complementary);
}
.rtl .values h2::after {
    left: auto;
    right: 15rem;
}

.values i, .manager-qoute i {
    font-size: 3rem;
    color: var(--color-main);
}

/* details */
.details-side img {
    width: 70%;
    border-radius: 15px;
}
.details-side .shadow {
    filter: drop-shadow(-27px -22px 0px #e1e1e1);
}

/* quote */
.manager-qoute img {
    width: 30%;
    min-width: 200px;
}

.signature h6 {
    position: relative;
    font-size: 1.5rem;
    text-align: right !important;
    margin-right: 50px;
    font-family: 'Brush Script MT', cursive;
}

.signature h6 sup {
    color: #bbbbbb;
}

.signature h6::before {
    content: '';
    position: absolute;
    left: 0;
    top: 65%;
    height: 1px;
    width: 30vw;
    background-color:#bbbbbb;
}
