.form-control {
    height: 50px;
}
.form-control, .form-check input {
    background-color: #f7f7f7;
}
.form-check {
    font-size: 20px;
}
.iti {
    width: 100%;
}
.contact-footer {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: #f1f1f1;
}
.contact-footer i {
    color: #606261;
    font-size: 15px;
    margin-right: 5px;
}
.social-icons i {
    font-size: 20px;
}