/* vatiables */
:root {
    --color-bg: #fff;
    --color-main: #c58d00;
    --color-complementary: #212121;
    --color-secondary: #606261;
    --color-dark: #333;
}
.pages-header {
    background: linear-gradient(0deg, rgb(0 0 0 / 89%), rgb(0 0 0 / 10%)), url(../assets/services-bg.jpg);
    background-size: 100% 100%;
    background-position: center center;
    height: 70vh;
}

@media screen and (max-width: 600px) {
    .pages-header h1 {
        font-size: 4rem;
    }
}

.calendar {
    box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
    width: fit-content;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2.5rem;
    position: relative;
    transition: all 0.5s ease-in-out;
    padding: 5rem;
}
.rtl .calendar {
    direction: ltr;
}
.calendar #season-icon {
    position: absolute;
    top: 5px;
    left: 20px;
}

/* rtl handle */
.rtl .calendar #season-icon {
    left: auto;
    right: 20px;
}

.calendar i {
    color: var(--color-main);
    font-size: 1.2rem;
}

/* time line */
.timeline_area {
    position: relative;
    z-index: 1;
    overflow: hidden;
    /* width: fit-content; */
}
.single-timeline-area {
    position: relative;
    z-index: 1;
    padding-left: 180px;
}
@media only screen and (max-width: 575px) {
    .single-timeline-area {
        padding-left: 100px;
    }
}
.single-timeline-area .timeline-date {
    position: absolute;
    width: 180px;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-right: 60px;
}
@media only screen and (max-width: 575px) {
    .single-timeline-area .timeline-date {
        width: 100px;
    }
}
.single-timeline-area .timeline-date::after {
    position: absolute;
    width: 3px;
    height: 100%;
    content: "";
    background-color: #ebebeb;
    top: 0;
    right: 30px;
    z-index: 1;
}
.single-timeline-area .timeline-date::before {
    position: absolute;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: var(--color-main);
    content: "";
    top: 50%;
    right: 26px;
    z-index: 5;
    margin-top: -5.5px;
}
.single-timeline-area .timeline-date p {
    margin-bottom: 0;
    color: #020710;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 500;
}
.apland-timeline-area {
    max-width: 75%;
}
.single-timeline-area .single-timeline-content {
    position: relative;
    z-index: 1;
    padding: 2rem;
    border-radius: 6px;
    box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
    border: 1px solid #ebebeb;
    width: fit-content;
    /* min-width: 200px;
    max-width: 70%; */
    height: 80px;
    transition: height 0.5s ease-in-out;
    color: var(--color-bg);
    font-size: 1.3rem;
}
.single-timeline-area .single-timeline-content h6 {
    font-size: 2rem;
    font-weight: bold;
}
.single-timeline-area .single-timeline-content:hover, .single-timeline-area .single-timeline-content:focus {
    height: 350px;
}
.single-timeline-area .single-timeline-content .event-content {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    color: var(--color-bg);
}
.single-timeline-area .single-timeline-content:hover .event-content, .single-timeline-area .single-timeline-content:focus .event-content {
    visibility: visible;
    opacity: 1;
}
.single-timeline-content .event-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.single-timeline-content .event-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #c58d008c;
}
.single-timeline-content .event-content .event-time {
    position: absolute;
    bottom: 0px;
    right: 20px;
}
@media only screen and (max-width: 990px) {
    .apland-timeline-area {
        max-width: 90%;
    }
}

@media only screen and (max-width: 575px) {
    .single-timeline-area .single-timeline-content {
        padding: 20px;
    }
    .apland-timeline-area {
        max-width: 100%;
    }
}
