.pages-header {
    background: linear-gradient(0deg, rgb(0 0 0 / 89%), rgb(0 0 0 / 10%)), url(../assets/docs.jpg);
    background-size: 100% 100%;
    background-position: center center;
    height: 70vh;
}

@media screen and (max-width: 600px) {
    .pages-header h1 {
        font-size: 4rem;
    }
}