/* vatiables */
:root {
    --color-bg: #fff;
    --color-main: #c58d00;
    --color-complementary: #212121;
    --color-secondary: #606261;
    --color-dark: #333;
}
/* fonts */
@font-face {
    font-family: primary;
    src: url(../fonts/primary.ttf);
}

/* General */
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: primary;
    color: var(--color-complementary);
    scroll-behavior: smooth;
}
body.rtl {
    direction: rtl;
}
body button {
    outline: none;
    background: none;
    border: none;
}
.btn {
    outline: none !important;
}
a {
    text-decoration: none;
}
.headline {
    font-size: 3.5rem;
}

/* video panner */
.video-header {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  .video-header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }

  .video-header .container-fluid {
    position: relative;
    z-index: 2;
  }
  
  .video-header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #888a9ebf;
    z-index: 1;
  }

  /* actions panel */
    .actions-panel {
        position: fixed;
        top: 50%;
        left: 3%;
        transform: translateY(-50%);
        z-index: 999;
        background-color: var(--color-bg);
        border-radius: 50px;
        padding: 0.5rem;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    /* rtl handle */
    .rtl .actions-panel {
        left: auto;
        right: 20px;
    }

    .actions-panel i {
        display: block;
        margin: 1rem 0.5rem;
        font-size: 1.5rem;
        color: var(--color-complementary);
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }
    .actions-panel i:hover {
        color: var(--color-main);
    }

  .video-header .sound-btn i {
    font-size: 2rem;
    color: var(--color-complementary);
    margin-right: 1rem;
  }
  .video-header #unmute-sound-btn {
    display: none;
  }

  /* Media Query for devices withi coarse pointers and no hover functionality */

/* This will use a fallback image instead of a video for devices that commonly do not support the HTML5 video element */

@media (pointer: coarse) and (hover: none) {
    .video-header {
        background: url('../assets/bg.jpg') black no-repeat center center scroll;
        background-size: cover;
    }

    .video-header video {
        display: none;
    }
}

/* navbar style */
.navbar .dropdown img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.dropdown-menu li:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}

/* rtl handle */
.rtl .dropdown-menu li {
    text-align: right;
}

.navbar-toggler {
    border: none;
    outline: none !important;
}
.navbar-toggler:focus {
    outline: none !important;
}
.nav-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    right: -20px;
    top: -20px;
    background-color: var(--color-complementary);
    z-index: -1;
}

/* rtl handle */
.rtl .nav-circle {
    right: auto;
    left: -20px;
}

.navbar-toggler i {
    color: var(--color-main);
}
.nav-link {
    font-size: 25px;
    font-weight: 500;
    transition: all 0.3s ease-in;
}
.offcanvas {
    background-color: var(--color-complementary);
}
.offcanvas .nav-link {
    color: var(--color-bg) !important;
}
.nav-link.active, .nav-link:hover {
    color: var(--color-main) !important;
    font-size: 1.7rem;
}
.scrollable.bg-light {
    background: linear-gradient(90deg, rgb(0 0 0 / 0%), rgb(256 256 256 / 50%)) !important;
    transition:0.75s ease;
}
.scrollable.bg-light.scrolled {
    background: var(--color-bg) !important;
    color: var(--color-dark);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.navbar-brand img {
    width: 150px;
    height: 50px;
}
@media (max-width: 450px) {
    .navbar-brand img {
        width: 70px;
    }
}
/* search */
.input-icons {
    position: relative;
    padding: auto 20px;
    display: flex;
    background-color: #f0f0f0;
    border: none;
    border-radius: 15px;
    height: 50px;
    align-items: center;
    padding: 10px;
    min-width: 25%;
}
.search-input {
    background-color: transparent;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 50px;
    padding: auto 2rem;
    transition: all 0.3s ease-in-out;
}
.search-modal {
    z-index: 999;
    background-color: rgba(256, 256, 256);
    display: none;
    /* text-align: center; */
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    padding: 20px;
}
.search-modal.visible-search {
    display: block;
}
.search-modal .btn-close {
    text-align: right;
}
.search-modal .input-icons {
    position: relative;
    padding: auto 20px;
    display: flex;
    background-color: #F2F2F2;
    border: none;
    border-radius: 15px;
    height: 50px;
    margin: 50px auto;
    align-items: center;
    padding: 10px;
}
.search-modal .input-icons i {
    font-size: 20px;
}
.search-modal .search-input {
    width: 100%;
    border: none;
    background-color: transparent;
    outline: none;
    margin-left: 10px;
}

/* social links */
.social-icons i {
    cursor: pointer;
    color: var(--color-main);
    font-size: 20px;
}
.social-icons i:hover {
    color: var(--color-main);
}

/* news bar */
.video-header .alert {
    position: absolute;
    bottom: 0;
    background-color: var(--color-bg);
    z-index: 3;
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100%;
    max-height: 50px;
}

.ticker-wrapper-h{
	display: flex;	
	position: relative;
	overflow: hidden;
}

.ticker-wrapper-h .heading{
	background-color: var(--color-main);
	color: var(--color-complementary);
	padding: 15px 10px;
	flex: 0 0 auto;
	z-index: 4;
    height: 70px;
    font-weight: 700;
    align-content: center;
}

.news-ticker-h{
	display: flex;
	margin:0;
	padding: 0;
	padding-left: 90%;
	z-index: 3;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-name: tic-h;
	animation-duration: 30s;
	
}

/* rtl animation */
.rtl .news-ticker-h {
    /* padding-left: auto;
    padding-right: 90%; */
    animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-name: tic-h-rtl;
	animation-duration: 30s;
}

.news-ticker-h:hover { 
	animation-play-state: paused; 
}

.news-ticker-h li {
	display: flex;
	width: 100%;
	align-items: center;
	white-space: nowrap;
	padding-left: 20px;
}

.news-ticker-h li a {
	color: var(--color-dark);
    text-decoration: none;
    font-size: large;
    font-weight: 700;
}

.news-ticker-h li a:hover {
    color: rgb(88, 88, 255);
}
@keyframes tic-h {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		visibility: visible;
	}
	100% {
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}
}

/* rtl animation */
@keyframes tic-h-rtl {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		visibility: visible;
	}
	100% {
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
	}
}


/* pages header */
.pages-header {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-bg);
}
.pages-header h1 {
    font-size: 10rem;
    line-height: 1;
}

/* footer */
footer {
    background-color: #cdcdcd;
}


/* bootstrap navbar breakpoint overwrite */
@media (max-width: 990px) {
    .navbar-expand-sm .navbar-collapse {
        display: none !important;
    }
    .navbar-expand-sm {
        justify-content: space-between;
        padding: auto 0 !important;
    }
    .navbar-toggler {
        display: block !important;
    }
    .navbar-nav {
        display: block;
    }
}