/* vatiables */
:root {
    --color-bg: #fff;
    --color-main: #c58d00;
    --color-complementary: #212121;
    --color-secondary: #606261;
    --color-dark: #333;
}
.pages-header {
    background: linear-gradient(0deg, rgb(0 0 0 / 89%), rgb(0 0 0 / 10%)), url(../assets/services-bg.jpg);
    background-size: 100% 100%;
    background-position: center center;
    height: 70vh;
}
@media screen and (max-width: 600px) {
    .pages-header h1 {
        font-size: 4rem;
    }
}

.categories .service {
    background-color: #e0e0e0;
    padding: 20px 40px;
    width: fit-content;
    margin: auto;
    font-size: 1.5rem;
}

.category {
    background-color: var(--color-main);
    color: var(--color-bg);
    font-size: 1.5rem;
    cursor: pointer;
}
.owl-nav {
    display: none;
}


/* services */
.services {
    min-height: fit-content;
    /* padding-bottom: 170px; */
}
.card {
    border: none;
    border-radius: 15px; 
    position: relative;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 8px;
    position: relative;
}
.card-img {
    height: 300px;
}
.card .card-title {
    font-size: 3rem;
    color: var(--color-main);
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    padding: 10px;
    background: linear-gradient(270deg, rgb(0 0 0 / 5%), rgb(256 256 256 / 85%));
}
.card .card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(180deg, rgb(3, 2, 0), rgba(197, 141, 0, 0.551));; */
    background-color: rgb(0 0 0 / 75%);
    visibility: hidden;
    color: var(--color-bg);
    font-size: 1.1rem;
}
.card .card-overlay h3 {
    font-size: 2rem;
    font-weight: bold;
}

.card .card-content:hover .card-title {
    visibility: hidden;
}
.card .card-content:hover .card-overlay {
    visibility: visible;
}

/* gallery */
.gallery-menu{
	text-align:center;
}
.gallery-menu ul li {
	display:inline-block;
	margin: auto 10px;
	list-style:none;
	padding:8px 25px;
	cursor:pointer;
	transition:all .5s ease;
    color: var(--color-main);
    border: 1px solid var(--color-main);
    border-radius: 15px;
    font-size: 1.1rem;
    margin-bottom: 10px;
}
.gallery-menu ul li:hover, .gallery-menu ul li.active {
     background-color: var(--color-main);
     color: var(--color-bg);
}
.portfolio-item .item{
	/* float:left; */
	margin:20px;
}




/* service page */
.service-cont {
    min-height: 100vh;
    overflow-y: auto;
    background: linear-gradient(0deg, rgb(0 0 0 / 89%), rgb(0 0 0 / 50%)), url(../assets/services-bg.jpg);
    background-size: 100% 100%;
    background-position: center center;
    color: var(--color-bg);
}
.service-cont .container .row {
    /* height:90vh; */
    overflow-y: auto;
}
.service-cont i {
    font-size: 1.5rem;
    margin-right: 20px;
}
.service-cont h1 {
    font-size: 5rem;
}
.service-cont article p {
    font-size: 2.5rem;
}
.service-cont .feature {
    font-size: 2.2rem;
}
.service-cont .cta {
    background-color: var(--color-main);
    border: none;
    padding: 10px 50px;
    color: var(--color-bg);
    font-size: 1.2rem;
}
.expert a {
    color: var(--color-bg);
}
.expert img {
    width: 130px;
    border-radius: 50%;
    filter: drop-shadow(rgba(230, 230, 230, 0.24) 0px 1px 8px);
}
.expert p {
    margin-top: 10px;
    font-size: 1.5rem;
}
@media screen and (max-width: 500px) {
    .service-cont h1 {
        font-size: 3rem;
    }
    .service-cont article p {
        font-size: 1.5rem;
    }
    .service-cont .feature {
        font-size: 1.2rem;
    }
}